.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem; // to compensate for the "transform: translateX(-3rem;)" on shape below
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);  // make text beside this shape flow around it's side
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);  // make shape round
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);  // SkewX to cancel out skewX inherited from  parent
    }

    &__img {
        height: 100%;
    }

    &__text {
        transform: skewX(12deg);
    }
}