*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* inherits from body element and applies it to all other elements */
}

html {
  /* 
    Default browser font-size is 16px.
    So 16px x 62.5% = 10px
   */
  font-size: 62.5%; /* will be inherited by rem unit. 10px = 1rem */
}

body {
  box-sizing: border-box;
}
